<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>едОК</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="vue/vue.min.js"></script>

</head>
<body>
<div id="Vue">
<div class="container" style="height: 90px">
    <div class="row">
        <div class="col-md-12 block" style="padding: 0%">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3" style=" padding: 0%">
                        <img src="logo.gif" width="100%" style="padding: 10px">
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-1" style="background: #F4716A;height:90px">
                        <img src="icons/icons8-пользователь-без-половых-признаков-filled-50.png" id="enter">
                        <span id="enterName">Вход</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 block3">
            <div class="input-wrapper" data-text="">
                <input type="text"  placeholder="Поиск..." v-model = "search" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-lg-8 block2" style="padding: 0%">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 image img" style="padding: 0%">
                        <div class="img-mask"></div>
                        <img src="thumb.jpg" alt="" width="100%" height="100%" style="opacity: 0.5"/>
                        <h2 class="h2">Яблочные драники</h2>
                        <h2 class="h22">Популярный рецепт</h2>
                        <button type="button" class="but btn " value="смотреть подробней">смотреть подробней</button>
                    </div>
                </div>
            </div>
            <!--<div class="img">
                <h2 class="popular">Популярный рецепт</h2>
                <img src="thumb.jpg" alt="Яблочные драники" width="100%" height="100%">
            </div>-->
            <div class="newrep">
                <h2 class="new">Новые рецепты</h2>
            </div>
            <div class="rep">
                <div class="container-fluid" id="blockImg ">
                    <div class="row">

                            <!--<input type="text" placeholder="Поиск..."  v-model = "search" />
                            <h3>Radio element clicked : {{search}} </h3>
                            <p><span></span></p>-->

                                        <!-- -->
                                <div v-for="(item,index) in filteredItems" class="col-md-4 pad1 " >
                                <div class="kartinka">

                                    <img v-bind:src="item.img" width="100%" height="100%" >
                                </div>
                                <!--<img :src="rep[0].img" width="100%" height="100%" />-->
                                <div class="white">
                                    {{item.op}}
                                </div>
                                </div>

                       <!-- <div class="col-md-4 pad2">
                            <div class="kartinka">
                                <img v-bind:src="item.img" width="100%" height="100%" >
                            </div>
                            <div class="white">
                                {{item.op}}
                            </div>
                        </div>
                        <div class="col-md-4 pad3">
                            <div class="kartinka">
                                <img v-bind:src="item.img" width="100%" height="100%" >
                            </div>
                            <div class="white">
                                {{item.op}}
                            </div>
                        </div>-->
                    <!--</div>
                    <div class="row">
                        <div class="col-md-4 pad1 ">
                            <div class="kartinka">
                                <img :src="rep[3].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[3].op}}
                            </div>
                        </div>
                        <div class="col-md-4 pad2">
                            <div class="kartinka">
                                <img :src="rep[4].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[4].op}}
                            </div>
                        </div>
                        <div class="col-md-4 pad3">
                            <div class="kartinka">
                                <img :src="rep[5].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[5].op}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pad1 ">
                            <div class="kartinka">
                                <img :src="rep[6].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[6].op}}
                            </div>
                        </div>
                        <div class="col-md-4 pad2">
                            <div class="kartinka">
                                <img :src="rep[7].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[7].op}}
                            </div>
                        </div>
                        <div class="col-md-4 pad3">
                            <div class="kartinka">
                                <img :src="rep[8].img" width="100%" height="100%" />
                            </div>
                            <div class="white">
                                {{rep[8].op}}
                            </div>
                        </div>-->

                    </div>
                </div>

                        <b-pagination align="center" class="btn btn-danger" v-for="p in pagination.pages" @click.prevent="setPage(p)">
                            {{p}}
                        </b-pagination>

            </div>
        </div>

        <div class="col-xs-12 col-lg-4 block2" style="padding-right: 0%">
            <div class="cat">
                <div class="name">Категории рецептов</div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 vis1 vis">
                            <div class="ico">
                            <img src="icons/icons8-стейк-50.png" class="span">
                                <span>Мясо</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis2 vis">
                            <div class="ico">
                                <img src="icons/icons8-гамбургер-50.png" class="span">
                                <span>Закуски</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis3 vis">
                            <div class="ico">
                                <img src="icons/icons8-еда-50.png" class="span">
                                <span>Гарниры</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 vis2 vis">
                            <div class="ico">
                                <img src="icons/icons8-круассан-50.png" class="span">
                                <span>Выпечка</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis3 vis">
                            <div class="ico">
                                <img src="icons/icons8-кондитерские-изделия-50.png" class="span">
                                <span>Десерты</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis1 vis">
                            <div class="ico">
                                <img src="icons/icons8-кебаб-50.png" class="span">
                                <span>Гриль</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 vis3 vis">
                            <div class="ico">
                                <img src="icons/icons8-целая-рыба-50.png" class="span">
                                <span>Рыба</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis1 vis">
                            <div class="ico">
                                <img src="icons/icons8-бар-50.png" class="span">
                                <span>Напитки</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis2 vis">
                            <div class="ico">
                                <img src="icons/icons8-салат-50.png" class="span">
                                <span>Салат</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 vis1 vis">
                            <div class="ico">
                                <img src="icons/icons8-блины-50.png" class="span">
                                <span>Завтрак</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis2 vis">
                            <div class="ico">
                                <img src="icons/icons8-торт-ко-дню-рождения-50.png" class="span">
                                <span>Торты</span>
                            </div>
                        </div>
                        <div class="col-md-4 vis3 vis">
                            <div class="ico">
                                <img src="icons/icons8-черпак-50.png" class="span">
                                <span>Супы</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    const wrapper = document.querySelector(".input-wrapper"),
        textInput = document.querySelector("input[type='text']");

    textInput.addEventListener("keyup", event => {
        wrapper.setAttribute("data-text", event.target.value);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="js.js"></script>
</body>
</html>